# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Proton: Login/New Project': 'sfdc:toggle',
    'Proton: Save to server': 'sfdc:saveCurrentFile'
    'Proton: Refresh from Server': 'sfdc:refreshCurrentFile'
    'Proton: Delete from Server': 'sfdc:deleteCurrentFile'
    '-': '-'
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Proton'
      'submenu': [
        { 'label': 'Login/New Project', 'command': 'sfdc:toggle' }
        { 'label': 'Refresh Project', 'command': 'sfdc:refreshProject' }
        'label': 'Create metadata'
        'submenu': [
          { 'label': 'New Apex Class', 'command': 'sfdc:createClass' }
          { 'label': 'New Apex Trigger', 'command': 'sfdc:createTrigger' }
          { 'label': 'New Visualforce Page', 'command': 'sfdc:createPage' }
          { 'label': 'New VF Component', 'command': 'sfdc:createComponent' }
        ]
        { 'label': 'Save current file', 'command': 'sfdc:saveCurrentFile' }
        { 'label': 'Refresh current file', 'command': 'sfdc:refreshCurrentFile' }
        { 'label': 'Delete current file', 'command': 'sfdc:deleteCurrentFile' }
        { 'label': 'Execute Anonymous Apex', 'command': 'sfdc:executeApex' }
        { 'label': 'Run Interactive Query', 'command': 'sfdc:interactiveQuery' }
      ]
    ]
  }
]
